/abstract.aux
/appendix.aux
/projekt.aux
/projekt.bbl
/projekt.blg
/projekt.lof
/projekt.log
/projekt.lot
/projekt.toc
/title.aux
/Einfuehrung.aux
/Datenmanagement.aux
/Datenmodellierung.aux
/Konsistenzsicherung.aux
/Systemarchitektur.aux
/VerglRelDB.aux
/Datenbanksprachen.aux
/Schlussfolgerungen.aux
